:root {
    --tempColor: #1e90ff;
    --titleColor: white;
    --backgroundImage: none;
    --borderShown: none; 
}

body{
    font: normal 16px Arial, Helvetica, sans-serif; 

    line-height: 1.6em;
    margin:0;
}

.box {
    background-color: #333;
    color: var(--titleColor);
    text-align: center;
    border: 5px solid;
    border-color: var(--tempColor);

    padding: 20px;

    margin: 20px 0px;
    margin-top: 0px;
}

.gauges {
    width: 100% - 5px; 
    height: 300px;
    margin-right: 0px;
    padding-right: 0px;
    border: var(--borderShown);
    border-color: var(--tempColor);
}

.form {
    width: auto;
    margin: 15px;
    padding: 5px;
}

.instructions {
    margin: 10px;
    padding: 20px;
}

table {
    background-image: var(--backgroundImage);
    width: 100%;
}

button {
    background-color: #333;
    color: white;
}

input {
    background-color: grey;
    color: white;
}
::placeholder {
    background: grey;
    color: white;
}

input:-internal-autofill-selected {
    background-color: grey !important;
    color: white !important;
}
